body {
	font-family: sans-serif;
}
.isSelected {
	background-color: #bbbbbb;
}

.container {
	margin: 0 auto;
	width: 50%;
	border: 3px solid #aaaaaa;
	border-radius: 9px;
	margin-top: 50px;
	height: 600px;
}

.header {
	text-align: center;
}

.game-container {
	width: 70%;
	height: 450px;
	margin: 0 auto;
	margin-top: 40px;
}

.block {
	width: 28%;
	height: 28%;
	margin: 13px;
	float: left;
	border-radius: 13px;
	text-align: center;
}

.large-text {
	font-size: 40px;
	font-weight: bold;
	color: white;
}


